.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.middle-area {
  flex: 1;
  display: flex;
}

.content {
  background-color: white;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
