.produto-card {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.produto-image {
  width: 200px;
  margin-right: 20px;
}

.produto-image img {
  width: 100%;
  height: auto;
}

.produto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

h2 {
  text-align: center;
}

.produto-info {
  flex-grow: 1;
  width: 70%;
}

.produto-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.produto-info label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.produto-info span {
  display: block;
  margin-top: 5px;
}

.produto-info input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 60%;
  margin-bottom: 10px;
}

.produto-info textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  text-align: justify;
  margin-bottom: 10px;
}

.produto-info button {
  padding: 8px 16px;
  margin: 10px;
  background-color: #fba94c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.produto-info button:hover {
  background-color: #e88826;
}

.produto-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto-add h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 400px;
  max-width: 100%;
  margin-top: 5px;
}

.form-field textarea {
  height: 100px;
  resize: vertical;
}

button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #fba94c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e88826;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
}
