<!-- Campos para inserir novos produtos -->
<div class="produto-add">
  <h2>Inserir Novo Produto</h2>
  <form #form="ngForm">
    <div class="form-field">
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="novoProduto.name"
        name="name"
        required
      />
      <div
        class="error-message"
        *ngIf="formSubmitted && form.controls['name'].invalid"
      >
        O campo nome é obrigatório.
      </div>
    </div>

    <div class="form-field">
      <label for="description">Descrição:</label>
      <textarea
        id="description"
        [(ngModel)]="novoProduto.description"
        name="description"
        required
      ></textarea>
      <div
        class="error-message"
        *ngIf="formSubmitted && form.controls['description'].invalid"
      >
        O campo descrição é obrigatório.
      </div>
    </div>

    <div class="form-field">
      <label for="image">Imagem URL:</label>
      <input
        type="text"
        id="image"
        [(ngModel)]="novoProduto.image"
        name="image"
        required
      />
      <div
        class="error-message"
        *ngIf="formSubmitted && form.controls['image'].invalid"
      >
        O campo imagem URL é obrigatório.
      </div>
    </div>

    <div class="form-field">
      <label for="value">Valor:</label>
      <input
        type="number"
        id="value"
        [(ngModel)]="novoProduto.value"
        name="value"
        required
      />
      <div
        class="error-message"
        *ngIf="formSubmitted && form.controls['value'].invalid"
      >
        O campo valor é obrigatório.
      </div>
    </div>

    <div class="form-field">
      <label for="type">Tipo:</label>
      <input
        type="text"
        id="type"
        [(ngModel)]="novoProduto.type"
        name="type"
        required
      />
      <div
        class="error-message"
        *ngIf="formSubmitted && form.controls['type'].invalid"
      >
        O campo tipo é obrigatório.
      </div>
    </div>

    <button (click)="inserirProduto(form)">Adicionar Produto</button>
  </form>
</div>

<!-- Lista de produtos existentes -->
<ul>
  <h2>Produtos</h2>
  <li *ngFor="let produto of produtos" class="produto-card">
    <div class="produto-image">
      <img src="{{ produto.image }}" alt="{{ produto.name }}" />
    </div>
    <div class="produto-info">
      <h3 (click)="produto.editing = !produto.editing">
        <ng-container *ngIf="produto.editing; else displayNome">{{
          produto.name
        }}</ng-container>
        <ng-template #displayNome>
          <span>{{ produto.name }}</span>
        </ng-template>
      </h3>

      <label for="descricao-{{ produto.id }}">Descrição:</label>
      <textarea
        *ngIf="produto.editing"
        id="descricao-{{ produto.id }}"
        [(ngModel)]="produto.description"
      ></textarea>
      <span *ngIf="!produto.editing">{{ produto.description }}</span>

      <label for="valor-{{ produto.id }}">Valor:</label>
      <input
        *ngIf="produto.editing"
        type="number"
        id="valor-{{ produto.id }}"
        [(ngModel)]="produto.value"
      />
      <span *ngIf="!produto.editing">{{ produto.value }}</span>

      <label for="imagem-{{ produto.id }}">Imagem URL:</label>
      <input
        *ngIf="produto.editing"
        type="text"
        id="imagem-{{ produto.id }}"
        [(ngModel)]="produto.image"
      />
      <span *ngIf="!produto.editing">{{ produto.image }}</span>

      <label for="type{{ produto.id }}">Tipo:</label>
      <input
        *ngIf="produto.editing"
        type="text"
        id="type-{{ produto.id }}"
        [(ngModel)]="produto.type"
      />
      <span *ngIf="!produto.editing">{{ produto.type }}</span>

      <button (click)="salvarProduto(produto)">
        {{ produto.editing ? "Salvar" : "Editar" }}
      </button>
      <button (click)="deletarProduto(produto.id)">Deletar</button>
    </div>
  </li>
</ul>
