.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ingrediente-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

h2 {
  text-align: center;
}

.ingrediente-card {
  display: flex;
  padding: 10px;
  background-color: #ebc498;
  border-radius: 15px;
}

.ingrediente-image {
  width: 200px;
  margin-right: 20px;
}

.ingrediente-image img {
  width: 100%;
  height: auto;
}

.ingrediente-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ingrediente-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ingrediente-info label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.ingrediente-info span {
  display: block;
  margin-top: 5px;
}

.ingrediente-info input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 60%;
  margin-bottom: 10px;
}

.ingrediente-info textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  text-align: justify;
  margin-bottom: 10px;
}

.ingrediente-info button {
  padding: 8px 16px;
  margin: 10px;
  background-color: #fba94c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.ingrediente-info button:hover {
  background-color: #e88826;
}

.ingrediente-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  behavior: "smooth";
}

.ingrediente-add h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 400px;
  max-width: 100%;
  margin-top: 5px;
}

.form-field textarea {
  height: 100px;
  resize: vertical;
}

button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #fba94c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e88826;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.types_groupes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2.5rem 0;
}

.tipo-seletor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.tipo-seletor label {
  font-weight: bold;
  font-size: large;
}
