.header-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  padding: 10px 60px;
}

.logo {
  width: 100px;
  height: 100px;
}

.message {
  color: white;
  font-weight: bold;
}
