.header-container {
  background-color: #ff8d1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
}

.logo {
  width: 80px;
  height: 80px;
}

.message {
  color: white;
  font-size: 22px;
  font-family: "Baloo 2", sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #f7353a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #e50000a8;
}
